<% @title ||= 'HITs overview'; title @title %>

<div class="row mb-5">
  <div class="col-12">
    <%= link_to dashboard_path, class: 'btn btn-secondary btn-lg' do %>
      Go back
    <% end %>
  </div>
</div>

<div class="row justify-content-center mb-4">
  <div class="col-12">
    <h2 class='mb-4'>Mturk HITs<%= @sandbox ? ' (sandbox)' : ' (production)'  %></h2>
  </div>
</div>

<div class="row justify-content-center mb-4">
  <div class="col-12">
    <h4>Options</h4>
    <div class="mb-2">
      <div class="input-group">
        <label class="switch">
          <input type="checkbox" id="production-checkbox" <%= @sandbox ? '' : ' checked="checked"' %>>
          <span class="slider round"></span>
          <span class='switch-label'>Production</span>
        </label>
      </div>
      <div class="input-group">
        <label class="switch">
          <input type="checkbox" id="filtered-checkbox" <%= @filtered ? ' checked="checked"' : '' %>>
          <span class="slider round"></span>
          <span class='switch-label'>Filter</span>
        </label>
      </div>
      <p>
      <div class="input-group">
        <%= link_to update_cached_hits_mturk_hits_path(sandbox: @sandbox, filtered: @filtered, format: :js),
          id: 'refresh-mturk-hits',
          class: 'btn btn-secondary',
          remote: true do
            "Refresh&nbsp;&nbsp;#{fa_icon('refresh')}".html_safe
          end
        %>
        <div class="spinner mr-3" id="refresh-mturk-hits-spinner" style='display:None'></div>
        <div class='pt-1' id="refresh-mturk-hits-spinner-info" style='display:None;'>Some text</div>
      </div>
      </p>
    </div>
    <p>Available balance: $<%= @balance %></p>
    <div>
      Page: <%= @page %>
    <% unless @page == 1 %>
      <%= link_to 'First page', mturk_hits_path(sandbox: @sandbox, page: 1, filtered: @filtered), class: 'btn btn-link' %>
    <% end %>
    <%= link_to 'Next page', mturk_hits_path(next_token: @next_token, page: @page + 1, sandbox: @sandbox, filtered: @filtered), class: 'btn btn-link' %>
    </div>
  </div>
</div>

<div class="row justify-content-center mb-4">
  <div class="col-12">
    <table class="table">
      <thead>
        <tr>
          <th></th>
          <th>Title</th>
          <th>Hit ID/<br>Task</th>
          <th>Hit Type ID/<br>Batch Job</th>
          <th>Status</th>
          <th>Review status</th>
          <th>Creation time</th>
          <th>Review actions</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <% @hits.each_with_index do |hit, index| %>
          <tr>
            <td><%= (@page - 1) * @num_hits + index %></td>
            <td><%= hit[:title] %></td>
            <td><%= find_task(hit[:hit_id]) %></td>
            <td>
              <% if batch_job_exists_for_hit?(hit[:hit_id]) %>
                <%= find_batch_job(hit[:hit_id])%>
                <% else %>
                  <%= hit[:hit_type_id] %>
              <% end %>
            </td>
            <td><%= hit[:status] %></td>
            <td><%= hit[:review_status] %></td>
            <td><%= time_ago_in_words(hit[:creation_time]) + ' ago' %></td>
            <td>
              <span>
                <% if can? :update, :mturk_hit and batch_job_exists_for_hit?(hit[:hit_id])%>
                  <%= link_to 'Review batch', mturk_reviewable_hits_path(hit_type_id: hit[:hit_type_id], sandbox: @sandbox, come_from: 'mturk_hits') %>
                <% end %>
              </span>
            </td>
            <td>
              <span>
                <% if can? :read, :mturk_hit %>
                  <%= link_to fa_icon("eye"), mturk_hit_path(hit[:hit_id], sandbox: @sandbox),
                    title: 'Show HIT details' %>
                <% end %>
              
                <% if can? :destroy, :mturk_hit %>
                  <%= link_to fa_icon("trash"), mturk_hit_path(hit[:hit_id], sandbox: @sandbox),
                    title: 'Delete HIT on Mturk',
                    method: :delete,
                    data: {confirm: "Delete HIT?"} %>
                <% end %>
              </span>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
