<% @title ||= 'HITs overview'; title @title %>

<div class="row mb-5">
  <div class="col-12">
    <%= link_to dashboard_path, class: 'btn btn-secondary btn-lg' do %>
      Go back
    <% end %>
  </div>
</div>

<div class="row justify-content-center mb-4">
  <div class="col-12">
    <h2 class='mb-4'>Mturk HITs</h2>
  </div>
</div>

<div class="row justify-content-center mb-4">
  <div class="col-12">
    <h4>Options</h4>
    <label class="label-inline checkbox">
      <input type="checkbox" id="sandbox-checkbox"  <%= @sandbox ? ' checked="checked"' : ''%>/>
      Sandbox
    </label>
    <p>Available balance: $<%= @balance %></p>
    <div>
      Page: <%= @page %>
    <% unless @page == 1 %>
      <%= link_to 'First page', mturk_hits_path(sandbox: @sandbox, page: 1), class: 'btn btn-link' %>
    <% end %>
    <%= link_to 'Next page', mturk_hits_path(next_token: @next_token, page: @page + 1, sandbox: @sandbox), class: 'btn btn-link' %>
    </div>
  </div>
</div>


<div class="row justify-content-center mb-4">
  <div class="col-12">
    <table class="table">
      <thead>
        <tr>
          <th></th>
          <th>Title</th>
          <th>Hit ID/<br>Task</th>
          <th>Hit Type ID/<br>Batch Job</th>
          <th>Status</th>
          <th>Review status</th>
          <th>Review actions</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <% @hits.each_with_index do |hit, index| %>
          <tr>
            <td><%= (@page - 1) * @num_hits + index %></td>
            <td><%= hit[:title] %></td>
            <td><%= find_task(hit[:hit_id]) %></td>
            <td><%= find_batch_job(hit[:hit_type_id])%></td>
            <td><%= hit[:status] %></td>
            <td><%= hit[:review_status] %></td>
            <td>
              <span>
                <% if can? :update, :mturk_hit and batch_job_exists_for_hit?(hit[:hit_type_id])%>
                  <%= link_to 'Review batch', mturk_reviewable_hit_path(hit[:hit_type_id], sandbox: @sandbox) %>
                <% end %>
              </span>
            </td>
            <td>
              <span>
                <% if can? :read, :mturk_hit %>
                  <%= link_to fa_icon("eye"), mturk_hit_path(hit[:hit_id], sandbox: @sandbox),
                    title: 'Show HIT details' %>
                <% end %>
              
                <% if can? :destroy, :mturk_hit %>
                  <%= link_to fa_icon("trash"), mturk_hit_path(hit[:hit_id], sandbox: @sandbox),
                    title: 'Delete HIT on Mturk',
                    method: :delete,
                    data: {confirm: "Delete HIT?"} %>
                <% end %>
              </span>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
