<div class="row justify-content-center">
  <div class="col-12 col-sm-10 col-lg-6 text-center">
    <h1 class="mb-4"><%= t('.resend_confirmation_instructions') %></h1>
    <p class="large text-light mb-5"><%= t('.resend_confirmation_instructions_subtitle') %></p>
  </div>
</div>

<div class="row justify-content-center">
  <div class="col-12 col-sm-10 col-lg-5">
    <%= simple_form_for(resource, as: resource_name, url: confirmation_path(resource_name), html: { method: :post }) do |f| %>
      <div class="form-group">
        <div class="form-inputs">
          <%= f.input :email, required: true, autofocus: true, label_html: {class: 'no-star'} %>
        </div>
      </div>
      <div class="form-actions">
        <%= f.button :submit, t('.resend_button'), class: 'btn btn-primary btn-lg btn-block' %>
      </div>
    <% end %>
  </div>
</div>
