<% @title ||= t('.title'); title @title %>
<div class="row justify-content-center">
  <div class="col-12 col-sm-10 col-lg-6 text-center">
    <h1 class="mb-4"><%= t('.title') %></h1>
    <p class="large text-light mb-5"><%= t('.sub_title') %></p>
  </div>
</div>

<div class="row justify-content-center">
  <div class="col-12 col-sm-10 col-lg-5">
    <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: {class: 'mb-6'}) do |f| %>
      <%= f.error_notification %>

      <div class="form-group">
        <%= f.input :username, required: true, autofocus: true, label_html: {class: 'no-star'} %>
      </div>
      <div class="form-group">
        <%= f.input :email, required: true, autofocus: true, label_html: {class: 'no-star'}%>
      </div>
      <div class="form-group">
        <%= f.input :password, required: true, hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length), label_html: {class: 'no-star'} %>
      </div>
      <div class="form-group">
        <%= f.input :password_confirmation, required: true, label_html: {class: 'no-star'} %>
      </div>
      <%= f.hidden_field :locale, {value: I18n.locale} %>

      <div class="form-group">
        <%= f.button :submit, t('.sign_up'), class: 'btn btn-primary btn-lg btn-block' %>
      </div>
    <% end %>
  </div>
</div>
<%= render "devise/shared/links" %>
