<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse-mobile" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a href=<%= root_url %>>
        <%= image_tag("logo.svg", :class => "navbar-brand img-responsive") %>
      </a>
    </div>

    <div class="collapse navbar-collapse" id="navbar-collapse-mobile">
      <ul class="nav navbar-nav navbar-right">
        <li class="<%= current_page?(root_path)? "active" : "" %>">
          <%= link_to root_path do %> 
            <%= t 'navbar.buttons.home' %>
            <% if current_page?(root_path) %>
              <span class="sr-only">(current)</span>
            <% end %>
          <% end %>
        </li>
        <li class="<%= current_page?(projects_path)? "active" : "" %>">
          <%= link_to projects_path do %> 
            <%= t 'navbar.buttons.projects' %>
            <% if current_page?(projects_path) %>
              <span class="sr-only">(current)</span>
            <% end %>
          <% end %>
        </li>
        <li class="<%= current_page?(about_path)? "active" : "" %>">
          <%= link_to about_path do %> 
            <%= t 'navbar.buttons.about' %>
            <% if current_page?(about_path) %>
              <span class="sr-only">(current)</span>
            <% end %>
          <% end %>
        </li>
        <%= render 'layouts/shared/nav_login' %>
        <%= render 'layouts/shared/switch_language' %>
      </ul>
    </div>
  </div>
</nav>
