<div class="site-header">
  <div class="container-fluid">
    <div class="row align-items-center"> 
      <div class="col-4 site-nav-container">
        <ul class="site-nav">
          <li class="nav-item">
            <%= link_to t('navbar.buttons.projects'), projects_path, class: current_page?(projects_path)? 'nav-link active' : 'nav-link' %>
          </li>
          <li class="nav-item">
            <%= link_to t('navbar.buttons.about'), about_path, class: current_page?(about_path)? 'nav-link active' : 'nav-link' %>
          </li>
        </ul>
      </div>

      <div class="col-6 col-lg-4">
        <div class="site-brand">
          <%= link_to root_path, class: 'logo-crowdbreaks' do  %>
            <span>Crowdbreaks</span>
          <% end %>
        </div>
      </div>

      <div class="col-6 col-lg-4">
        <div class="d-flex justify-content-end">
          <% if user_signed_in? %>
            <div class="dropdown dropdown-member">
              <button class="btn btn-link dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <%= current_user.username %>
              </button>
              <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenu2">
                 <%= link_to t('navbar.account.edit'), edit_user_registration_path, class: 'dropdown-item' %> 
                <div class="dropdown-divider"></div>
                <%= link_to t('navbar.account.logout_label'), destroy_user_session_path, class: 'dropdown-item', method: :delete %>
              </div>
            </div>
          <% else %>
            <ul class="site-nav">
              <li class="nav-item <%= current_page?(new_user_registration_path)? 'active' : '' %>">
                <%= link_to t('navbar.account.sign_up_label'), new_user_registration_path, class: 'nav-link' %>
              </li>
              <li class="nav-item <%= current_page?(new_user_session_path)? 'active' : '' %>">
                <%= link_to t('navbar.account.login'), new_user_session_path, class: 'nav-link' %>
              </li>
            </ul>
          <% end %>

          <div class="dropdown">
            <button class="site-header-toggler" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <span class="site-header-toggler-icon">
                <img src=<%= image_url('icon-menu.svg') %> alt="menu">
              </span>
            </button>
            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenu2">
              <%= link_to t('navbar.buttons.projects'), projects_path, class: 'dropdown-item' %>
              <%= link_to t('navbar.buttons.about'), about_path, class: 'dropdown-item' %>
              <div class="dropdown-divider"></div>
              <% if user_signed_in? %>
                 <%= link_to t('navbar.account.edit'), edit_user_registration_path, class: 'dropdown-item' %> 
                <div class="dropdown-divider"></div>
                <%= link_to t('navbar.account.logout_label'), destroy_user_session_path, class: 'dropdown-item', method: :delete %>
              <% else %>
                <%= link_to t('navbar.account.sign_up_label'), new_user_registration_path, class: 'nav-link' %>
                <div class="dropdown-divider"></div>
                <%= link_to t('navbar.account.login'), new_user_session_path, class: 'nav-link' %>
              <% end %>
            </div>
          </div>

          <div class="dropdown">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <%= I18n.locale %>
            </button>
            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenu2">
              <% Crowdbreaks::Locales.reject {|l| l == I18n.locale.to_s }.each do |locale| %>
                <li>
                  <%= link_to Crowdbreaks::LocalesTranslations[locale.to_sym], { locale: locale }, class: 'dropdown-item' %>
                </li>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div> 
  </div>
</div>
