<tr>
  <td><%= result.id %></td>
  <td><%= result.project&.title %></td>
  <td><%= link_to_user_profile(result.user) %></td>
  <td><%= link_to_tweet(result.tweet_id) %></td>
  <td><%= result_type(result) %></td>
  <td><%= time_ago_in_words(result.created_at) %> ago</td>
  <td>
    <div>
      <% if can? :destroy, result %>
        <%= link_to fa_icon('trash'),
          admin_result_path(result),
          method: :delete,
          data: {confirm: "Delete result?"} %>
      <% end %>
      <% if can? :update, result %>
        <%= link_to fa_icon('eye'), admin_result_path(result) %>
      <% end %>
    </div>
  </td>
</tr>
