<% @title ||= 'Result'; title @title %>

<div class="row mb-5">
  <div class="col-12">
    <%= link_to admin_results_path, class: 'btn btn-secondary btn-lg' do %>
      Go back
    <% end %>
  </div>
</div>

<div class="row justify-content-center mb-4">
  <div class="col-12 col-md-8">
    <h2>Result</h2>
  </div>
</div>

<div class="row justify-content-center mb-4">
  <div class="col-12 col-md-8">
    <h4>Attributes</h4>
    <table class="table vertical-align">
      <col width="200px"/>
      <col />
      <% @result.attributes.each do |key, val| %>
        <tr>
          <td><h4><%= key %></h4></td>
          <td><%= val %></td>
        </tr>
      <% end %>
    </table>
  </div>
</div>

<% if @result.question_sequence_log.present? %>
  <div class="row justify-content-center mb-4">
    <div class="col-12 col-md-8">
      <h4>Log info</h4>
      <table class="table vertical-align">
        <col width="200px"/>
        <col />
        <tr>
          <td><h4>Total time spent</h4></td>
          <td><%= (@result.question_sequence_log.log['totalDurationQuestionSequence'].to_i/1000.0).to_s + ' s' if @result.question_sequence_log.log.has_key?('totalDurationQuestionSequence') %></td>
        </tr>
        <tr>
          <td><h4>Full log</h4></td>
          <td><pre style="font: 14px Inconsolata, monospace;"><%= JSON.pretty_generate(@result.question_sequence_log.log).strip %></pre></td>
        </tr>
      </table>
    </div>
  </div>
<% end %>
