<% @title ||= 'Result'; title @title %>
<%= go_back_btn admin_results_path(group_by_qs: @group_by_qs, project_id_filter: params[:project_id_filter], res_type_filter: params[:res_type_filter]), center: true, col: 'col-xl-10' %>

<div class="row justify-content-center mb-4">
  <div class="col-xl-10">
    <h2><%= @qs_results.present? ? 'Result: Question Sequence' : 'Result' %></h2>
  </div>
</div>

<% if @qs_results.present? %>
  <div class="row justify-content-center mb-5">
    <div class="col-xl-5">
      <% if @tweet_text.present? %>
        <div class="card">
          <div class="card-body">
            <h4 class="card-title">Tweet text</h4>
            <%= @tweet_text %>
          </div>
        </div>
        <% else %>
          <div class="justify-content-center">
            <%= react_component('TweetEmbed', {
              id: params[:tweet_id],
              options: {cards: 'hidden', conversation: 'none'}
            }) %>
        </div>
      <% end %>
    </div>
    <div class="col-xl-5">
      <div class="card">
        <div class="card-body">
          <table class="table vertical-align borderless-table">
            <%= table_row('Num results', num(@qs_results.count)) %>
            <% if @log.present? %>
              <%= table_row('Total time', (@log.totalDurationQuestionSequence.to_i/1000.0).to_s + ' s') %>
            <% end %>
            <%= table_row('Result type', result_type(@result.res_type)) %>
            <%= table_row('Submitted', time_ago(@qs_results.last.created_at)) %>
            <% if @qs_results.first.mturk_res_type? %>
              <%= table_row('Worker', @qs_results.first.task.mturk_worker.worker_id) %>
            <% else %>
              <%= table_row('User', @qs_results.first.user.username) %>
            <% end %>
          </table>
        </div>
      </div>
    </div>
  </div>

  <div class="row justify-content-center mb-5">
      <% @qs_results.each_with_index do |result, ix| %>
        <div class="col-xl-10 mb-4">
          <% if @log&.results&.length.to_i > 0 %>
            <h4>Question <%= ix + 1 %> <%= "(#{@log.results[ix].timeSinceLastAnswer.to_i/1000.0} s)" %></h4>
          <% else %>
            <h4>Question <%= ix + 1 %></h4>
          <% end %>
          <p><%= result.question.question %></p>
          <p><%= answer_btn(result.answer.answer, result.answer.color) %></p>
        </div>
      <% end %>
  </div>
<% else %>
  <%= attributes_table(@result) %>
<% end %>

<% if @log.present? %>
  <div class="row justify-content-center mb-4">
    <div class="col-xl-10 mb-4">
      <h4>Full log</h4>
      <div>
        <pre style="font: 14px Inconsolata, monospace;"><%= JSON.pretty_generate(@log.to_h).strip %></pre>
      </div>
    </div>
  </div>
<% end %>
