<% @title ||= 'Question Sequences'; title @title %>
<div class="row justify-content-center mb-4">
  <div class="col-12">
    <h2 class='mb-4'>Question Sequences</h2>
  </div>
</div>

<div class="row mb-6">
  <div class="col-12 col-xl-8">
    <table class="table">
      <thead>
        <tr>
          <th>Project</th>
          <th># Questions</th>
          <th># Results</th>
          <th>View</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <% @projects.each do |p| %>
          <tr>
            <td><%= p.title %></td>
            <td><%= number_with_delimiter(p.questions.count, delimiter: ' ') %></td>
            <td><%= number_with_delimiter(p.results.count, delimiter: ' ') %></td>
            <td>
              <%= link_to 'Public', admin_question_sequence_path(p.id, mode: :public) %> | 
              <%= link_to 'Mturk', admin_question_sequence_path(p.id, mode: :mturk) %>
            </td>
            <td>
              <span> 
                <% if can? :destroy, :question_sequence %>
                  <%= link_to fa_icon("trash"), admin_question_sequence_path(p.id),
                    title: 'Destroy question sequence',
                    method: :delete,
                    data: {confirm: "Destroy question sequence?"} 
                  %>
                <% end %>
                <% if can? :update, :question_sequence %>
                  <%= link_to fa_icon("pencil"), edit_admin_question_sequence_path(p.id), title: "Edit question sequence"  %>
                <% end %>
              </span>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
