<% @title ||= 'Question Sequences'; title @title %>
<div class="row mb-4">
  <div class="col-12">
    <%= link_to dashboard_path, class: 'btn btn-secondary btn-lg' do %>
      Go back
    <% end %>
  </div>
</div>

<div class="row justify-content-center mb-4">
  <div class="col-12 col-md-10 col-lg-8">
    <h2 class='mb-4'>Question Sequences</h2>
  </div>
</div>

<div class="row justify-content-center mb-6">
  <div class="col-12 col-md-10 col-lg-8">
    <table class="table">
      <thead>
        <tr>
          <th>Project</th>
          <th># Questions</th>
          <th># Results</th>
          <th>View</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <% @projects.each do |p| %>
          <tr>
            <td><%= p.title %></td>
            <td><%= number_with_delimiter(p.questions.count, delimiter: ' ') %></td>
            <td><%= number_with_delimiter(p.results.count, delimiter: ' ') %></td>
            <td>
              <%= link_to 'Public', admin_question_sequence_path(p.id, mode: :public) %> | 
              <%= link_to 'Mturk', admin_question_sequence_path(p.id, mode: :mturk) %>
            </td>
            <td>
              <span> 
                <%= link_to fa_icon("trash"), admin_question_sequence_path(p.id),
                  method: :delete,
                  data: {confirm: "Delete project?"} 
                %>
                <%= link_to fa_icon("pencil"), edit_admin_question_sequence_path(p.id)  %>
              </span>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
