<%= simple_form_for(@local_batch_job, url: manage_local_batch_job_path) do |f| %>
  <%= f.error_notification %>

  <div class="form-group">
    <%= f.input :name, hint: 'Has to be unique' %>
  </div>

  <div class="form-group">
    <%= f.association :project, hint: 'Choose question sequence' %>
  </div>

  <div class="form-group">
    <div class="input field_with_hint">
      <div>
        <label>Give access to admin users</label>
      </div>
      <%= f.collection_check_boxes :user_ids, User.where.not(role: 'default'), :id, :user_email do |b| %>
        <% b.label(style: "margin-right: 10px") { b.check_box(style: "margin-right: 3px") + b.text}%>
      <% end %>
      <p class="help-block">Give access to users</p>
    </div>
  </div>

  <div class="form-group">
    <%= f.input :instructions, hint: 'Instructions to the worker (visible on top of the question sequence) in Markdown', input_html: {value: "# Instructions for this task in Markdown", style: "font-family: monospace;", rows: 10} %>
  </div>

  <div class="form-group">
    <%= f.input :job_file,
      as: :file,
      label: "Tweet IDs",
      hint: 'Please use a csv in which each line corresponds to a tweet ID',
      input_html: { class: 'file-input-form-control' } %>
  </div>

  <div class="form-actions" style="margin-top:25px;">
    <%= f.button :submit, class: 'btn btn-primary btn-lg' %>
  </div>
<% end %>
