<tr>
  <td><%= local_batch_job.name %></td>
  <td><%= local_batch_job.project.title %></td>
  <td><%= time_ago(local_batch_job.created_at) %></td>
  <td><span class='badge badge-sentiment'><%= local_batch_job_status(local_batch_job.status)%></span></td>
  <td><%= local_batch_job.completed_by.join(' ') %></td>
  <td><%= local_batch_job.users.count %></td>
  <td><%= num(local_batch_job.local_tweets.count) %></td>
  <td><%= local_batch_job.processing_mode %></td>
  <td>
    <% if local_batch_job.local_tweets.count > 0 %>
      <div class='no-wrap'> 
        <%= link_to manage_local_batch_job_local_tweets_path(local_batch_job) do %>
          Queue <i class="fa fa-angle-double-right" aria-hidden="true"></i>
        <% end %>
      </div>
      <div class='no-wrap'> 
        <%= link_to local_batch_job_path(local_batch_job) do %>
          Start <i class="fa fa-angle-double-right" aria-hidden="true"></i>
        <% end %>
      </div>
    <% end %>
  </td>
  <td>
    <div class='icon-spacing'>
      <% if can? :read, local_batch_job %>
        <%= link_to fa_icon('eye'), manage_local_batch_job_path(local_batch_job) %>
      <% end %>
      <% if can? :destroy, local_batch_job %>
        <%= link_to fa_icon('trash'),
          manage_local_batch_job_path(local_batch_job),
          method: :delete,
          data: {confirm: "Delete batch and all queued tweets?"} %>
      <% end %>
      <% if can? :update, local_batch_job %>
        <%= link_to fa_icon('pencil'), edit_manage_local_batch_job_path(local_batch_job) %>
      <% end %>
      <% if can? :read, local_batch_job %>
        <% if local_batch_job.results.count > 0 %>
          <%= tag.span id: "local-batch-job-results-#{local_batch_job.id}-spinner", class: 'mr-4', style: 'display:none;' do %>
            <%= tag.div class: "spinner-small", style: 'display:inline-block;position:absolute;'  %>
          <% end %>
          <%= tag.span id: "local-batch-job-results-#{local_batch_job.id}-icon" do %>
            <% if local_batch_job.csv_file_is_up_to_date('local-batch-job-results', local_batch_job.results) %>
              <%= link_to fa_icon('download'), manage_local_batch_job_path(local_batch_job, format: 'csv'), title: 'Download CSV' %>
            <% else %>
              <%= link_to fa_icon('download'), manage_local_batch_job_path(local_batch_job), title: 'Download CSV', remote: true %>
            <% end %>
          <% end %>
        <% end %>
      <% end %>
    </div>
  </td>
</tr>
