<tr>
  <td><%= local_batch_job.name %></td>
  <td><%= local_batch_job.project.title %></td>
  <td><%= time_ago(local_batch_job.created_at) %></td>
  <td><span class='badge badge-sentiment'><%= local_batch_job_status(local_batch_job.status)%></span></td>
  <td><%= local_batch_job.completed_by.join(' ') %></td>
  <td>
    <span class='no-wrap'>
      <%= num(local_batch_job.results.count) %>
      /
      <%= num(local_batch_job.local_tweets.count) %>
    </span>
  </td>
  <td><%= num(local_batch_job.local_tweets.unavailable.count) %></td>
  <td><%= local_batch_job.processing_mode %></td>
  <td>
    <% if local_batch_job.local_tweets.count > 0 %>
      <div class='no-wrap'> 
        <%= link_to manage_local_batch_job_local_tweets_path(local_batch_job) do %>
          Queue <i class="fa fa-angle-double-right" aria-hidden="true"></i>
        <% end %>
      </div>
      <div class='no-wrap'> 
        <%= link_to local_batch_job_path(local_batch_job) do %>
          Start <i class="fa fa-angle-double-right" aria-hidden="true"></i>
        <% end %>
      </div>
    <% end %>
  </td>
  <td>
    <div>
      <% if can? :destroy, local_batch_job %>
        <%= link_to fa_icon('trash'),
          manage_local_batch_job_path(local_batch_job),
          method: :delete,
          data: {confirm: "Delete batch and all queued tweets?"} %>
      <% end %>
      <% if can? :update, local_batch_job %>
        <%= link_to fa_icon('pencil'), edit_manage_local_batch_job_path(local_batch_job) %>
      <% end %>
    </div>
  </td>
</tr>
