<div class="row justify-content-center">
  <div class="col-12 col-sm-10 col-lg-6 text-center">
    <h1 class="mb-4"><%= t('.title') %></h1>
    <p class="large text-light mb-5"><%= t('.subtitle') %></p>
  </div>
</div>

<div class="row justify-content-center">
  <div class="col-12 col-sm-10 col-lg-5">

    <%= simple_form_for(resource, as: resource_name, url: unlock_path(resource_name), html: { method: :post }) do |f| %>
      <%= f.error_notification %>
      <%= f.full_error :unlock_token %>

      <div class="form-inputs">
        <div class="form-group">
          <%= f.input :email, required: true, autofocus: true %>
        </div>
      </div>

      <div class="form-actions">
        <%= f.button :submit, t('.resend_button'), class: 'btn btn-primary btn-lg btn-block' %>
      </div>
    <% end %>
  </div>
</div>
