<% @title ||= 'HIT review'; title @title %>

<% if params[:come_from] == 'mturk_batch_jobs' %>
  <%= go_back_btn mturk_batch_jobs_path %>
<% elsif params[:come_from] == 'mturk_hits' %>
  <%= go_back_btn mturk_cached_hits_path %>
<% else %>
  <%= go_back_btn dashboard_path %>
<% end %>

<div class="row justify-content-center mb-4">
  <div class="col-12">
    <% if @show_all %>
      <h2>Review HITs<%= @sandbox ? ' (sandbox)' : ' (production)'  %></h2>
    <% else %>
      <h2>Review HITs for batch <%= 'job'.pluralize(@mturk_batch_jobs.size) %></h2>
    <% end %>
  </div>
  <div class="col-md-6">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">Filters</h4>
        <%= toggle_switch(!@sandbox, 'Production', 'production-checkbox') %>
        <%= toggle_switch(@include_reviewed, 'Include reviewed', 'include-reviewed-checkbox') %>
      </div>
    </div>
  </div>
  <div class="col-md-6 mb-2">
  </div>
</div>

<div class="row justify-content-center mb-4">
  <div class="col-12">
    <div>
      <% if not @show_all %>
        <% if @mturk_batch_jobs.size > 1 %>
          <div class='alert alert-danger'>Note: HIT type (<%= @mturk_batch_jobs.first.hittype_id %>) could be associated with several batches: <%= @mturk_batch_jobs.pluck(:name).join(', ') %></div>
        <% else %>
          <% if @mturk_batch_jobs.size > 0 %>
            <p>
            <div>Batch name: <%= @mturk_batch_jobs.first.name %></div>
            <div>HIT type Id: <%= @mturk_batch_jobs.first.hittype_id %></div>
            <div>Sandbox: <%= @sandbox ? 'Yes' : 'No' %></div>
            </p>
          <% end %>
        <% end %>
      <% end %>
    </div>
    <div>
      <% if @num_hits == @results_per_page %>
        Page: <%= @page %>
      <% unless @page == 1 %>
        <%= link_to 'First page', mturk_reviewable_hits_path(hit_type_id: @hit_type_id, sandbox: @sandbox, page: 1), class: 'btn btn-link' %>
      <% end %>
      <%= link_to 'Next page', mturk_reviewable_hits_path(hit_type_id: @hit_type_id, next_token: @next_token, page: @page + 1, sandbox: @sandbox), class: 'btn btn-link' %>
    <% end %>
    </div>
  </div>
</div>

<div class="row justify-content-center mb-4">
  <div class="col-12">
    <%= form_tag multi_review_mturk_reviewable_hits_path do %>
      <table class="table">
        <thead>
          <tr>
            <th></th>
            <th>Hit ID/<br>Task</th>
            <th>Assignment status</th>
            <th>Assignment Id</th>
            <th>Accept</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          <% @hits.each_with_index do |hit, index| %>
            <tr>
              <td><%= (@page - 1) * @num_hits + index %></td>
              <td><%= find_task(hit[:hit_id]) %></td>
              <td><%= hit[:assignment_status] %></td>
              <td><%= hit[:assignment_id] %></td>
              <td>
                <% if hit[:assignment_id].present? and hit[:assignment_status] == 'Submitted' %>
                  <%= check_box_tag 'accepted', hit[:assignment_id], false %>
                <% end %>
              </td>
              <td>
                <% if hit[:assignment_id].present? %>
                  <span>
                    <%= link_to fa_icon("eye"), mturk_reviewable_hit_path(hit[:assignment_id], sandbox: @sandbox), title: 'Review individual HIT' %>
                  </span>
                <% end %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>

      <% unless @hits.empty? %>
        <div class="form-actions mt-5">
          <%= submit_tag 'Accept selected', class: 'btn btn-primary btn-lg' %>
        </div>
      <% end %>
    <% end %>
    </div>
  </div>
