<% @title ||= 'HIT review'; title @title %>
<% if @hit_type_id.nil? %>
  <%= go_back_btn mturk_reviewable_hits_path %>
<% else %>
  <%= go_back_btn mturk_reviewable_hits_path(hit_type_id: @hit_type_id) %>
<% end %>

<div class="row justify-content-center mb-2">
  <div class="col-12 col-md-10 col-lg-8">
    <h2 class='mb-4'>Review individual HIT<%= @sandbox ? ' (sandbox)' : ' (production)'  %></h2>
  </div>
</div>

<% if @assignments.empty? %>
  <div class="row justify-content-center mb-5">
    <div class="col-12 col-md-8">
      <div class='alert alert-danger'>No assignments could be found for HIT</div>
    </div>
  </div>
<% else %>
  <div class="row justify-content-center mb-5">
    <div class="col-12 col-md-10 col-lg-8">
      <div class="card">
        <div class="card-body">
          <table class="table vertical-align borderless-table">
            <%= table_row('HIT ID', @hit_info.hit_id) %>
            <%= table_row('Number of assignments', @assignments.length) %>
            <%= table_row('Found associated task', status_yes_no(@hit_info.task_found)) %>
          </table>
        </div>
      </div>
    </div>
  </div>
  <div class="row justify-content-center mb-2">
    <div class="col-12 col-md-10 col-lg-8">
      <h2 class='mb-4'><%= 'Assignment'.pluralize(@assignments.length) %></h2>
    </div>
  </div>
  <%= render partial: 'assignment', collection: @assignments, locals: {hit_info: @hit_info} %>
<% end %>




