<tr>
  <td><%= mturk_worker_qualification_list.name %></td>
  <td><%= time_ago(mturk_worker_qualification_list.created_at) %></td>
  <td>
    <% if mturk_worker_qualification_list.qualified_workers.count > 0 %>
      <%= link_to mturk_worker_qualification_list_qualified_workers_path(mturk_worker_qualification_list) do %>
        List workers <%= fa_icon('angle-double-right') %>
      <% end %>
    <% end %>
  </td>
  <td><%= mturk_worker_qualification_list.qualified_workers.count %></td>
  <td><span class='badge badge-sentiment'><%= qual_list_status(mturk_worker_qualification_list.status) %></span></td>
  <td>
    <div class="icon-spacing">
      <% if can? :destroy, mturk_worker_qualification_list %>
        <%= link_to fa_icon("trash"),
          mturk_worker_qualification_list_path(mturk_worker_qualification_list),
          method: :delete,
          data: {confirm: "Destroy qualification list?"} %>
      <% end %>
      <% if can? :update, mturk_worker_qualification_list %>
        <%= link_to fa_icon("pencil"),
          edit_mturk_worker_qualification_list_path(mturk_worker_qualification_list),
          title: 'Edit' %>
      <% end %>
      <%= link_to fa_icon('eye'), mturk_worker_qualification_list_path(mturk_worker_qualification_list) %>
    </div>
  </td>
</tr>
