<%= simple_form_for(@mturk_worker_qualification_list) do |f| %>
  <%= f.error_notification %>
  <div class="form-group">
    <%= f.error :base %>
  </div>

  <div class="form-group">
    <%= f.input :name, hint: 'Short name of the qualification list. Has to be unique.' %>
  </div>

  <div class="form-group">
    <%= f.input :description, hint: 'Description shown to Mturk workers', input_html: {value: f.object.description.blank? ? "You've been granted a positive qualifiction for this task." : f.object.description}  %>
  </div>

  <div class="form-group">
    <%= f.input 'job_file_wrapper',
      label: 'Upload CSV of worker IDs',
      hint: 'Please use a header-less CSV in which each row corresponds to a worker ID.',
      label_html: {class: 'label-no-wrap'} do %>
      <div class="btn btn-secondary" onClick="document.getElementById('job-file').click();">
        <%= fa_icon 'upload', class: 'mr-2' %>
        <span>Choose file</span>
      </div>
    <% end %>
    <div class='hidden-file-upload'>
      <%= f.input :job_file, as: :file, input_html: {id: 'job-file', class: 'input-file'} %>
    </div>
    <%= f.error :job_file %>
    <% if @mturk_worker_qualification_list.qualified_workers.count > 0 %>
      <div class="alert alert-danger">Note: Existing qualification list will be overwritten if file is provided.</div>
    <% end %>
  </div>

  <div class="form-group">
    <%= f.input :sandbox, input_html: {class: "mr-2", checked: f.object.sandbox}, label_html: {class: 'checkbox-inline'} %>
  </div>

  <div class="form-actions" style="margin-top:25px;">
    <%= f.button :submit, class: 'btn btn-primary btn-lg' %>
  </div>
<% end %>
