<% @title ||= 'Queued Tweets'; title @title %>
<%= go_back_btn mturk_batch_jobs_path %>

<div class="row justify-content-center mb-4">
  <div class="col-12">
    <h2 class='mb-5'>
      In queue for '<%= @mturk_batch_job.name %>'
    </h2>
  </div>
  <div class="col-md-6 mb-4">
    <div class="card">
      <div class="card-body">
        <table class="table vertical-align borderless-table">
          <%= table_row('Total', @mturk_batch_job.num_tweets) %>
          <%= table_row('&#8226;'.html_safe + ' Available', @mturk_batch_job.mturk_tweets.available.count) %>
          <%= table_row('&#8226;'.html_safe + ' Unavailable', @mturk_batch_job.mturk_tweets.unavailable.count) %>
          <%= table_row('&#8226;'.html_safe + ' Unknown', @mturk_batch_job.mturk_tweets.unknown.count) %>
        </table>
      </div>
    </div>
  </div>
  <div class="col-md-6">
  </div>
</div>

<div class="row justify-content-center mb-5">
  <div class="col-12">
    <% if @mturk_batch_job.csv_file_is_up_to_date('tweets') %>
      <%= link_to mturk_batch_job_mturk_tweets_path(@mturk_batch_job, format: :csv), class: 'btn btn-secondary btn-lg' do %>
        <%= tag.span id: "mturk-tweets-#{@mturk_batch_job.id}-icon" do %>
          <%= fa_icon('download') %>&emsp;Download tweets
        <% end %>
        <%= tag.span id: "mturk-tweets-#{@mturk_batch_job.id}-spinner", style:'display:none;' do %>
          <%= tag.span class: "spinner-small", style: 'position:absolute;'  %>
          <%= tag.span class: 'ml-4' do %>
            &emsp;Download tweets
          <% end %>
        <% end %>
      <% end %>
    <% else %>
      <%= link_to mturk_batch_job_mturk_tweets_path(@mturk_batch_job), remote: true, class: 'btn btn-secondary btn-lg' do %>
        <%= tag.span id: "mturk-tweets-#{@mturk_batch_job.id}-icon" do %>
          <%= fa_icon('download') %>&emsp;Download tweets
        <% end %>
        <%= tag.span id: "mturk-tweets-#{@mturk_batch_job.id}-spinner", style:'display:none;' do %>
          <%= tag.span class: "spinner-small", style: 'position:absolute;'  %>
          <%= tag.span class: 'ml-4' do %>
            &emsp;Download tweets
          <% end %>
        <% end %>
      <% end %>
    <% end %>
  </div>
</div>

<div class="row justify-content-center mb-4">
  <div class="col-12">
    <%= paginate @mturk_tweets %>
  </div>
</div>

<div class="row justify-content-center mb-4">
  <div class="col-12">
    <table class="table">
      <thead>
        <tr>
          <th>Tweet Id</th>
          <th>Tweet text</th>
          <th>Num workers</th>
          <th>
            <%= tag.span class: 'no-wrap' do %>
              <%= 'Availability' %>
              <%= tag.span id: "refresh-availability" do %>
                <%= link_to fa_icon('refresh'), update_availability_mturk_batch_job_mturk_tweets_path(@mturk_batch_job), class: 'ml-2', title: 'Check availability', remote: true %>
              <% end %>
              <%= tag.span id: "refresh-availability-running", style: 'display:none;' do %>
                <%= tag.span id: 'refresh-availability-spinner', class: "spinner-small ml-2", style: 'position:absolute;'  %>
              <% end %>
            <% end %>
          </th>
        </tr>
      </thead>
      <tbody>
        <%= render @mturk_tweets %>
      </tbody>
    </table>
  </div>
</div>
