<% @title ||= 'Mturk workers'; title @title %>
<%= go_back_btn dashboard_path %>

<div class="row justify-content-center mb-4">
  <div class="col-12">
    <h2 class='mb-4'>
      Mturk Workers
    </h2>
  </div>

  <div class="col-md-6">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">Filters</h4>
        <%= toggle_switch(@show_blacklisted, 'Blacklisted', 'mturk-worker-blacklisted-checkbox') %>
        <%= toggle_switch(@show_reviewed, 'Reviewed', 'mturk-worker-reviewed-checkbox') %>
        <%= toggle_switch(@show_blocked, 'Blocked', 'mturk-worker-blocked-checkbox') %>
      </div>
    </div>
  </div>
  <div class="col-md-6 mb-2">
  </div>
</div>

<div class="row justify-content-center mb-4">
  <div class="col-12">
    <%= form_tag mturk_workers_path, enforce_utf8: false, method: :get, class: 'mb-4' do %>
      <%= hidden_field_tag :show_blacklisted , @show_blacklisted %>
      <%= hidden_field_tag :show_reviewed , @show_reviewed %>
      <%= text_field_tag :search_worker, params[:search_worker], class: 'form-control', style: 'width:20%;display:inline;' %>
      <%= submit_tag 'Search', class: 'btn btn-primary' %>
    <% end %>
  </div>
</div>

<div class="row justify-content-center mb-4">
  <div class="col-12">
    <%= paginate @mturk_workers %>
  </div>
</div>

<div class="row justify-content-center mb-4">
  <div class="col-12">
    <table class="table">
      <thead>
        <tr>
          <th>Worker Id</th>
          <th>Num tweets</th>
          <th>Status</th>
          <th>Last task submitted</th>
          <th>Blacklist</th>
          <th>Reviewed?</th>
          <th>Links</th>
        </tr>
      </thead>
      <tbody>
        <%= render @mturk_workers %>
      </tbody>
    </table>
  </div>
</div>
