<tr>
  <td><%= project.title %></td>
  <td><%= project.name %></td>
  <td><%= project.num_question_sequences %></td>
  <td><%= truncate(project&.keywords&.join(', ')) %></td>
  <td><%= project&.lang&.join(', ') %></td>
  <td><%= project&.locales&.join(', ') %> </td>
  <td><%= status_yes_no(project.public?) %></td>
  <td><%= status_yes_no(project.active_stream?) %></td>
  <td><%= status_yes_no(project.covid?) %></td>
  <td><%= status_yes_no(project.auto_mturking?) %></td>
  <td>
    <div id="progress-circle-record-<%= project.id %>-public-tweets-context">
      <span class="no-wrap">
        <% if can? :read, project %>
          <%= link_to fa_icon('eye'), admin_project_path(project), title: 'Show' %>
        <% end %>
        <% if can? :destroy, project %>
          <%= link_to fa_icon("trash"), admin_project_path(project),
            method: :delete,
            data: {confirm: "Delete project?"} %>
        <% end %>
        <% if can? :update, project %>
          <%= link_to fa_icon("pencil"), edit_admin_project_path(project)  %>
        <% end %>
      </span>
    </div>
    <%= progress_circle("progress-circle-record-#{project.id}-public-tweets", small: false) %>
  </td>
</tr>
