<%= simple_form_for(@project, url: @project.new_record? ? admin_projects_path : admin_project_path(@project), html: {id: 'project-form'}) do |f| %>
  <%= f.error_notification %>

  <div class="mb-5">
    <h4>General</h4>
    <div class="form-group">
      <%= f.simple_fields_for :title_translations do |title| %>
        <% Crowdbreaks::Locales.each do |l| %>
          <%= title.input l.to_sym, label: 'Title '+l, input_html: {value: @project.new_record? ? 'Project Title' : @project.title_translations[l] || ''} %>
        <% end %>
      <% end %>
    </div>
    <div class="form-group">
      <%= f.simple_fields_for :description_translations do |desc| %>
        <% Crowdbreaks::Locales.each do |l| %>
          <%= desc.input l.to_sym, label: 'Description '+l, as: :text,
            input_html: {value: @project.new_record? ? 'Some description' : @project.description_translations[l] || '', rows: 6} %>
        <% end %>
      <% end %>
    </div>
    <div class="form-group">
      <%= f.input :name, hint: 'Name of the project. By convention this should be the same as the Elasticsearch index name (if provided), thus starting with the project_* prefix. The name should be unique, otherwise it will be grouped with the project of the same name.' %>
    </div>
  </div>

  <div class="mb-5">
    <h4>Twitter Streaming Options</h4>
    <input id="twitter-streaming-options-checkbox" type="checkbox" <%= @project.active_stream ? 'checked' : ''%> style="margin-right:5px">Show streaming options</input> 
    <div id="twitter-streaming-options" data-active-stream=<%=  @project.active_stream? %>>
      <div class="form-group">
        <%= f.input :keywords, hint: 'Comma-separated list of keywords for the Twitter streaming API to filter for' , 
          input_html: {value: @project.keywords&.join(', ') || ""} %>
        <%= f.input :lang, label: "Languages", hint: 'Languages of tweets to collect through Twitter API (2-letter language code, e.g. "en")', :input_html => { value: @project.lang&.join(', ') || '' } %>
      </div>
      <div class="form-group">
        <%= f.input :es_index_name, hint: 'Name of ElasticSearch index to store tweets into, make sure to name the index project_*', input_html: {value: @project.es_index_name || ""} %>
      </div>
      <div class="form-group">
        <%= f.input :storage_mode, collection: Project.storage_modes, include_blank: false, selected: @project.read_attribute_before_type_cast(:storage_mode), hint: 'Where to store tweets. In any case tweets will be stored on S3. If project is public it should include Elasticsearch (es).' %>
      </div>
      <div class="form-group">
        <%= f.input :active_stream, input_html: {class: "mr-2", value: @project.active_stream}, hint: "Activate stream (if false, won't stream data for this project)", label_html: {class: 'checkbox-inline'} %>
      </div>
    </div>
  </div>

  <div class="mb-5">
    <h4>Other</h4>
    <div class="form-group">
      <%= f.input :public, label: "Make public", input_html: {class: "mr-2", value: @project.public || false}, hint: 'List project under /projects publicly', label_html: {class: 'label-inline'} %>
    </div>
    <div class="form-group">
      <%= f.input :locales, label: "Locales", hint: "List of locales (any of [#{Crowdbreaks::Locales.join(', ')}]) for which this project should be publicly displayed (under /projects)", :input_html => { value: @project.locales&.join(', ') || '' } %>
    </div>
  </div>

  <div class="form-actions" class="mt-2">
    <%= f.button :submit, class: 'btn btn-primary btn-lg' %>
  </div>
<% end %>
