<div class="row" id="background-image">
  <div class="col-xs-12">
    <div class="row row-welcome">
      <div class="col-xs-12">
        <div class="welcome">
          <% if current_user %>
            <h1><%= t '.welcome-back' %><%= current_user.username %></h1>
          <% else %>
            <h1><%= t '.welcome' %></h1>
          <% end %>

        </div>
        <div class="welcome-logo">
          <%= image_tag("logo.svg", :class => "welcome-logo-img img-responsive") %>
        </div>
      </div>
    </div>
    <div class="row row-goal">
      <div class="col-xs-12">
        <h3><%= t '.goal_html' %></h3>
      </div>
    </div>
    <div class="row row-button">
      <div class="col-xs-12">
        <%= link_to t('.contribute'), projects_path, :class => "btn btn-green" %>
      </div>
    </div>
  </div>
</div>


