<% content_for :body_class, 'bg-home' %>
<div class="row justify-content-center">
  <div class="col-12 text-center">
    <h1 class="mb-5"><%= t('.goal') %><br>
      <span class="text-light"><%= t('.num_tweets', num: number_with_delimiter(@num_tweets_classified, delimiter: ',')) %></span>
    </h1>
  </div>
</div>

<div class="row justify-content-center">
  <div class="col-12 col-sm-8 col-lg-4 text-center">
    <div class="buttons-fluid mb-6">
      <%= link_to t('.contribute'), projects_path, class: 'btn btn-primary btn-lg' %>
      <%= link_to t('.find_out_more'), about_path, class: 'btn btn-secondary btn-lg' %>
    </div>
  </div>
</div>


<div class="container">
  <div class="row justify-content-center">
    <div class="col-12 col-sm-10 col-lg-7 text-center">
      <%= react_component 'Leadline', {
        'dataEndpoint': get_leadline_path,
        'translations': @translations,
        'locale': I18n.locale,
        'projectsPath': projects_path
      } %>
    </div>
  </div>
</div>
