<% if user_signed_in? %>
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-12 text-center">
        <% if @total_count > 0 %>
          <h1 class="mb-6">
            <%= t('.hello', username: current_user.username) %><br>
            <span class="text-light">
              <%= t('.classified_so_far', count: number_with_delimiter(@total_count, delimiter: ',')) %>
            </span>
          </h1>
        <% else %>
          <h1 class="mb-6">
            <%= t('.hello', username: current_user.username) %><br>
            <span class="text-light"><%= t('.no_contributions') %></span>
          </h1>
          <%= link_to t('.no_contributions_button'), projects_path, class: 'btn btn-primary btn-lg mb-7' %>
        <% end %>
      </div>
    </div>
    <% if @local_batch_jobs.present? %>
      <div class="row justify-content-center mb-6">
        <div class="col-12 text-center">
          <h4><%= t('.private_projects') %></h4>
          <% @local_batch_jobs.each do |local_batch_job| %>
            <%= link_to local_batch_job_path(local_batch_job), class: 'btn btn-primary btn-lg m-3' do %>
              <%= local_batch_job.name %>&nbsp;<%= fa_icon 'angle-double-right', style: 'color:white;' %>
            <% end %>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
  <% @projects.each do |project| %>
    <% if @total_count > 0 and @counts[project.id][:total] > 0 %>
      <div class="row justify-content-center">
        <div class="col-12 col-lg-10 text-center">
          <h4 class="and-divider mb-5"><span><%= project.title %></span></h4>
          <div class="row mb-3">
            <div class="col-6 col-md-3 text-center">
              <h3 class="display-4 text"><%= num(@counts[project.id][:total]) %></h3>
              <p class="text-light"><%= t('.total') %></p>
            </div>
            <div class="col-6 col-md-3 text-center">
              <h3 class="display-4 text-success"><%= num(@counts[project.id][:'pro-vaccine']) %></h3>
              <p class="text-light"><%= t('.pro_vaccine') %></p>
            </div>
            <div class="col-6 col-md-3 text-center">
              <h3 class="display-4 text-danger"><%= num(@counts[project.id][:'anti-vaccine']) %></h3>
              <p class="text-light"><%= t('.anti_vaccine') %></p>
            </div>
            <div class="col-6 col-md-3 text-center">
              <h3 class="display-4 text-light"><%= num(@counts[project.id][:neutral]) %></h3>
              <p class="text-light"><%= t('.neutral_vaccine') %></p>
            </div>
          </div>
          <%= link_to t('.contribute_again'), projects_path, class: 'btn btn-primary btn-lg mb-7' %>
        </div>
      </div>
    <% end %>
  <% end %>
<% else %>
  <% content_for :body_class, 'bg-home' %>
  <% content_for :disable_turbolinks, 'data-turbolinks=false' %>
  <div class="row justify-content-center">
    <div class="col-12 col-lg-8 text-center">
      <h1 class="mb-5"><%= t('.goal') %><br>
        <span class="text-light"><%= t('.num_tweets', num: number_with_delimiter(@num_tweets_classified, delimiter: ',')) %></span>
      </h1>
    </div>
  </div>

  <div class="row justify-content-center">
    <div class="col-12 col-md-8 col-lg-6 text-center">
      <div class="buttons-fluid mb-6">
        <%= link_to t('.contribute'), projects_path, class: 'btn btn-primary btn-lg' %>
        <%= link_to t('.find_out_more'), about_path, class: 'btn btn-secondary btn-lg' %>
      </div>
    </div>
  </div>

  <div class="row justify-content-center">
    <div class="col-12 col-lg-8 text-center">
      <%= react_component 'Leadline', {
        'dataEndpoint': get_leadline_path,
        'translations': t('.leadline'),
        'locale': I18n.locale,
        'projectsPath': projects_path
      } %>
    </div>
  </div>
<% end %>
