<div class="row justify-content-center">
  <div class="col-12 col-md-10 col-lg-8 text-center">
    <h1 class="mb-5"><%= t('.title') %></h1>
    <p class="large text-light text-left mb-5"><%= t('.sub_heading_html', email: mail_to("info@crowdbreaks.org")) %></p>
    <h4 class="and-divider mb-5"><span><%= t('.types_heading') %></span></h4>
    <p class="large text-light text-left mb-5"><%= t('.types_html') %></p>
    <h4 class="and-divider mb-5"><span><%= t('.mode_heading') %></span></h4>
    <h4><%= t('.sub_1') %></h4>
    <p class="large text-light text-left mb-4"><%= t('.sub_1_text') %></p>
    <h4><%= t('.sub_2') %></h4>
    <p class="large text-light text-left mb-4"><%= t('.sub_2_text') %></p>
    <h4><%= t('.sub_3') %></h4>
    <p class="large text-light text-left mb-4"><%= t('.sub_3_text') %></p>
    <h4><%= t('.sub_4') %></h4>
    <p class="large text-light text-left mb-4"><%= t('.sub_4_text') %></p>
    <h4><%= t('.sub_5') %></h4>
    <p class="large text-light text-left mb-4"><%= t('.sub_5_text') %></p>
    <h4><%= t('.sub_6') %></h4>
    <p class="large text-light text-left mb-4"><%= t('.sub_6_text') %></p>
    <h4><%= t('.sub_7') %></h4>
    <p class="large text-light text-left mb-4"><%= t('.sub_7_text') %></p>
    <h4><%= t('.sub_8') %></h4>
    <p class="large text-light text-left mb-4"><%= t('.sub_8_text') %></p>
    <h4><%= t('.sub_9') %></h4>
    <p class="large text-light text-left mb-4"><%= t('.sub_9_text') %></p>
    <h4><%= t('.sub_10') %></h4>
    <p class="large text-light text-left mb-4"><%= t('.sub_10_text') %></p>
  </div>
</div>
