<div class="row justify-content-center">
  <div class="col-12 col-md-10 col-lg-8 text-center">
    <h1 class="mb-5"><%= t('.title') %></h1>
    <p class="large text-light text-left mb-5"><%= t('.sub_heading_1_html') %></p>
    <p class="large text-light text-left mb-5"><b><%= t('.sub_heading_2') %></b></p>
    <h4 class="and-divider mb-5"><span><%= t('.a_heading') %></span></h4>
    <p class="large text-light text-left mb-5"><%= t('.a_text_html', href_fit: link_to('Federal Act on the Federal Institutes of Technology', 'https://www.admin.ch/opc/en/classified-compilation/19910256/index.html', target: '_blank')) %></p>
    <h4 class="and-divider mb-5"><span><%= t('.b_heading') %></span></h4>
    <p class="large text-light text-left mb-5"><%= t('.b_text') %></p>
    <h4 class="and-divider mb-5"><span><%= t('.c_heading') %></span></h4>
    <p class="large text-light text-left mb-5"><%= t('.c_text') %></p>
    <h4 class="and-divider mb-5"><span><%= t('.d_heading') %></span></h4>
    <p class="large text-light text-left mb-5"><%= t('.d_text') %></p>
    <h4 class="and-divider mb-5"><span><%= t('.e_heading') %></span></h4>
    <p class="large text-light text-left mb-5"><%= t('.e_text') %></p>
    <h4 class="and-divider mb-5"><span><%= t('.f_heading') %></span></h4>
    <p class="large text-light text-left mb-5"><%= t('.f_text') %></p>
    <h4 class="and-divider mb-5"><span><%= t('.g_heading') %></span></h4>
    <p class="large text-light text-left mb-5"><%= t('.g_text') %></p>
    <h4 class="and-divider mb-5"><span><%= t('.h_heading') %></span></h4>
    <p class="large text-light text-left mb-5"><%= t('.h_text_html') %></p>
    <h4 class="and-divider mb-5"><span><%= t('.i_heading') %></span></h4>
    <p class="large text-light text-left mb-5"><%= t('.i_text') %></p>
    <h4 class="and-divider mb-5"><span><%= t('.j_heading') %></span></h4>
    <p class="large text-light text-left mb-5"><%= t('.j_text_html', email: mail_to("info@crowdbreaks.org")) %></p>
    <h4 class="and-divider mb-5"><span><%= t('.k_heading') %></span></h4>
    <p class="large text-light text-left mb-5"><%= t('.k_text_html', email: mail_to("dpo@epfl.ch")) %></p>
    <h4 class="and-divider mb-5"><span><%= t('.l_heading') %></span></h4>
    <p class="large text-light text-left mb-5"><%= t('.l_text_html') %></p>
    <p class="large text-light text-left mb-5"><%= t('.version_date') %></p>
  </div>
</div>
