<div class="row justify-content-center">
  <div class="col-12 col-md-10 col-lg-8 text-center">
    <h1 class="mb-5"><%= t('.title') %></h1>
    <p class="large text-light text-left mb-5"><%= t('.sub_title_text') %></p>
    <h4 class="and-divider mb-4"><span><%= t('.sub_1') %></span></h4>
    <p class="large text-light text-left mb-5"><%= t('.sub_1_text') %></p>
    <h4 class="and-divider mb-4"><span><%= t('.sub_2') %></span></h4>
    <p class="large text-light text-left mb-5"><%= t('.sub_2_text') %></p>
    <h4 class="and-divider mb-4"><span><%= t('.sub_3') %></span></h4>
    <p class="large text-light text-left mb-5"><%= t('.sub_3_text') %></p>
    <h4 class="and-divider mb-4"><span><%= t('.sub_4') %></span></h4>
    <p class="large text-light text-left mb-5"><%= t('.sub_4_text') %></p>
    <h4 class="and-divider mb-4"><span><%= t('.sub_5') %></span></h4>
    <p class="large text-light text-left mb-5"><%= t('.sub_5_text') %></p>
    <h4 class="and-divider mb-4"><span><%= t('.sub_6') %></span></h4>
    <p class="large text-light text-left mb-5"><%= t('.sub_6_text') %></p>
    <h4 class="and-divider mb-4"><span><%= t('.sub_7') %></span></h4>
    <p class="large text-light text-left mb-5"><%= t('.sub_7_text') %></p>
    <h4 class="and-divider mb-4"><span><%= t('.sub_8') %></span></h4>
    <p class="large text-light text-left mb-5"><%= t('.sub_8_text') %></p>
    <h4 class="and-divider mb-4"><span><%= t('.sub_9') %></span></h4>
    <p class="large text-light text-left mb-5"><%= t('.sub_9_text') %></p>
    <h4 class="and-divider mb-4"><span><%= t('.sub_10') %></span></h4>
    <p class="large text-light text-left mb-5"><%= t('.sub_10_text') %></p>
  </div>
</div>

