<div class="card text-center mb-4">
  <div class="card-body">
    <h3 class="mb-2">
      <%= link_to project.title, project_question_sequence_path(project) %>
    </h3>
    <p class="text-light mb-4"><%= t('projects.index.num_classified_html', num: number_with_delimiter(project.question_sequences_count, delimiter: ',')) %></p>
    <p class="large"><%= project.description %></p>
  </div>
  <div class="card-footer">
    <div class="buttons">
      <%= link_to t('projects.index.contribute'), project_question_sequence_path(project), class: 'btn btn-primary btn-lg' %>
      <% if project.es_index_name == 'project_vaccine_sentiment' %>
        <%= link_to t('projects.index.explore'), project_path(project), class: 'btn btn-secondary btn-lg' %>
      <% end %>
    </div>
  </div>
</div>
