<% @title ||= Project.model_name.human.pluralize; title @title %>
<% content_for :disable_turbolinks, 'data-turbolinks=false' %>

<div class="row justify-content-center">
  <div class="col-12 col-md-10 col-lg-8 text-center">
    <p><%= link_to t('.go_back'), projects_path, class: 'mb-6' %></p>
    <h1 class="mb-5"><%= @project.title %></h1>
    <p class="large text-light mb-6"><%= @project.description %></p>
  </div>
</div>

<% if @project.es_index_name == 'project_vaccine_sentiment' %>
  <div class="row justify-content-center">
    <div class="col-12 col-md-10 text-center">
      <h4 class="and-divider mb-5">
        <span>Vaccination sentiment</span>
      </h4>
      <div>
        <%= react_component 'StreamGraph', {
          'dataEndpoint': get_stream_graph_data_path,
          'project': @project.name,
        } %>
      </div>
    </div>
  </div>
<% elsif @project.es_index_name == 'project_wuhan' %>
  <div class="row justify-content-center">
    <div class="col-12 col-md-10 text-center">
      <h4 class="and-divider mb-5">
        <span>Activity</span>
      </h4>
      <div>
        <%= react_component 'StreamGraphKeywords', {
          'dataEndpoint': get_stream_graph_keywords_data_path,
          'project': @project.name,
          'es_index_name': @project.es_index_name,
        } %>
      </div>
    </div>
  </div>


<% else %>
  <div class="row justify-content-center">
    <div class="col-12 col-lg-10 text-center">
      <h4 class="and-divider mb-5"><span><%= t('.breakdown') %></span></h4>
      <div class="row mb-5">
        <div class="col-6 col-md-3 text-center">
          <h3 class="display-4 text"><%= number_with_delimiter(@total_count, delimiter: ',') %></h3>
          <p class="text-light"><%= t('.total') %></p>
        </div>
        <div class="col-6 col-md-3 text-center">
          <h3 class="display-4 text-success"><%= number_with_delimiter(@pro_vaccine_count, delimiter: ',') %></h3>
          <p class="text-light"><%= t('.pro_vaccine') %></p>
        </div>
        <div class="col-6 col-md-3 text-center">
          <h3 class="display-4 text-danger"><%= number_with_delimiter(@anti_vaccine_count, delimiter: ',') %></h3>
          <p class="text-light"><%= t('.anti_vaccine') %></p>
        </div>
        <div class="col-6 col-md-3 text-center">
          <h3 class="display-4 text-light"><%= number_with_delimiter(@neutral_vaccine_count, delimiter: ',') %></h3>
          <p class="text-light"><%= t('.neutral_vaccine') %></p>
        </div>
      </div>
    </div>
  </div>
<% end %>

<% content_for :get_involved do %>
  <div class="cta">
    <div class="container-fluid">
      <h4 class="mb-4"><%= t('.get_involved') %></h4>
      <p class="large text-light mb-4"><%= t('.every_tweet') %></p>
      <%= link_to t('.contribute'), project_question_sequence_path(@project), class: 'btn btn-primary btn-lg' %>
    </div>
  </div>
<% end %>
