<% @title ||= Project.model_name.human.pluralize; title @title %>
<% content_for :disable_turbolinks, 'data-turbolinks=false' %>

<div class="row justify-content-center">
  <div class="col-12 col-md-10 col-lg-8 text-center">
    <p><%= link_to t('projects.show.go_back'), projects_path, class: 'mb-6' %></p>
    <h1 class="mb-5"><%= @project.title %></h1>
    <p class="large text-light mb-6"><%= @project.description %></p>
  </div>
</div>

<div class="row justify-content-center">
  <div class="col-12 col-md-10 col-lg-8 text-center">
    <h4 class="and-divider mb-5">
      <span>Vaccination sentiment</span>
    </h4>
    <div>
      <%= react_component 'StreamGraph', {
        'dataEndpoint': get_stream_graph_data_path,
        'project': @project.name,
      } %>
    </div>
  </div>
</div>

<% content_for :get_involved do %>
  <div class="cta">
    <div class="container-fluid">
      <h4 class="mb-4"><%= t('projects.show.get_involved') %></h4>
      <p class="large text-light mb-4"><%= t('projects.show.every_tweet') %></p>
      <%= link_to t('projects.show.contribute'), project_question_sequence_path(@project), class: 'btn btn-primary btn-lg' %>
    </div>
  </div>
<% end %>
