<% @title ||= 'Queued Tweets'; title @title %>
<%= go_back_btn manage_local_batch_jobs_path %>

<div class="row justify-content-center mb-4">
  <div class="col-12">
    <h2 class='mb-4'>
      In queue for '<%= @local_batch_job.name %>'
    </h2>
  </div>
</div>

<div class="row justify-content-center mb-5">
  <div class="col-12">
    <%= link_to *@download_link_args, **@download_link_keywordargs, class: 'btn btn-secondary btn-lg' do %>
      <%= tag.span id: "local-batch-job-tweets-#{@local_batch_job.id}-icon" do %>
        <%= fa_icon('download') %>&emsp;Download tweets
      <% end %>
      <%= tag.span id: "local-batch-job-tweets-#{@local_batch_job.id}-spinner", style:'display:none;' do %>
        <%= tag.span class: "spinner-small", style: 'position:absolute;'  %>
        <%= tag.span class: 'ml-4' do %>
          &emsp;Download tweets
        <% end %>
      <% end %>
    <% end %>
  </div>
</div>

<div class="row justify-content-center mb-4">
  <div class="col-12">
    <%= paginate @local_tweets %>
  </div>
</div>

<div class="row justify-content-center mb-4">
  <div class="col-12">
    <table class="table">
      <thead>
        <tr>
          <th>Tweet ID</th>
          <th>Tweet text</th>
          <th>Availability</th>
          <th>Done by</th>
        </tr>
      </thead>
      <tbody>
        <%= render @local_tweets %>
      </tbody>
    </table>
  </div>
</div>
