<% @title ||= 'ML models'; title @title %>
<%= go_back_btn dashboard_path, mb: 'mb-6' %>

<div class="row justify-content-center mb-4">
  <div class="col-12">
    <h2 class='mb-4'>ML Models</h2>
  </div>
</div>

<div class="row justify-content-center mt-5">

  <% if @api_ready %>
    <div class="col-12 mb-4">
      <table class="table">
        <thead>
          <tr class='no-wrap'>
            <th>Name</th>
            <th>Created at</th>
            <th>Project</th>
            <th>Question tag</th>
            <th>Has endpoint</th>
          </tr>
        </thead>
        <tbody>
          <% @models.each do |model| %>
            <tr>
              <td><%= model['ModelName'] %></td>
              <td><%= time_ago(DateTime.parse(model['CreationTime'])) %></td>
              <td><%= model['Tags']['project_name'] %></td>
              <td><%= model['Tags']['question_tag'] %></td>
              <td><%= status_yes_no(model['HasEndpoint']) %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  <% else %>
    <div class="col-12">
      <div class="alert alert-primary">Could not reach API.</div>
    </div>
  <% end %>
</div>
