<tr>
  <td><%= qualified_worker.mturk_worker.worker_id %></td>
  <td><%= qualified_worker.mturk_worker.tasks.count %></td>
  <td><%= qualified_worker.mturk_worker.results.count %></td>
  <td><%= time_ago(qualified_worker.mturk_worker.results&.last&.created_at) %></td>
  <td>
    <div class='no-wrap'>
      <%= link_to review_mturk_worker_path(qualified_worker.mturk_worker) do %>
        Review <%= fa_icon('angle-double-right') %>
      <% end %>
    </div>
  </td>
</tr>
