<% @title ||= 'Current streams'; title @title %>
<div class="row mb-6">
  <div class="col-12">
    <%= link_to streaming_path, class: 'btn btn-secondary btn-lg' do %>
      <i class="glyphicon glyphicon-chevron-left"></i>
      Go back
    <% end %>
  </div>
</div>

<div class="row justify-content-center mb-4">
  <div class="col-12">
    <h3>Current streaming configuration</h3>
    <table class="table">
      <thead>
        <tr>
          <th>Project slug</th>
          <th>ES index name</th>
          <th>Keywords</th>
          <th>Languages</th>
        </tr>
      </thead>
      <tbody>
        <% @current_streams.each do |stream| %>
          <tr>
            <td><%= stream[0] %></td>
            <td><%= stream[1]['es_index_name'] %></td>
            <td><%= stream[1]['keywords'].join(', ') %></td>
            <td><%= stream[1]['languages'].join(', ') %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
