<% @title ||= 'Manage'; title @title %>

<div class="row justify-content-center mb-4">
  <div class="col-12">
    <h2 class='mb-4'>Manage interface</h2>
  </div>
</div>

<div class="row justify-content-center mb-5">
  <div class="col-lg-6 text-center">
    <h4 class="and-divider mb-4"><span>Pipeline</span></h4>
    <% if can? :configure, :streaming %>
      <%= link_to 'Streaming configuration', streaming_path, class: 'btn btn-primary btn-lg btn-block'%>
      <%= link_to 'Stream monitoring', monitor_streams_path, class: 'btn btn-primary btn-lg btn-block' %>
    <% end %>
    <% if can? :read, :elasticsearch_index %>
      <%= link_to 'Elasticsearch', elasticsearch_indexes_path, class: 'btn btn-primary btn-lg btn-block' %>
    <% end %>
  </div>
  <div class="col-lg-6 text-center">
    <h4 class="and-divider mb-4"><span>Mturk</span></h4>
    <% if can? :read, MturkBatchJob %>
      <%= link_to 'Mturk Batch processing', mturk_batch_jobs_path, class: 'btn btn-primary btn-lg btn-block'%>
    <% end %>
    <% if can? :read, MturkWorker %>
      <%= link_to 'Mturk workers', mturk_workers_path, class: 'btn btn-primary btn-lg btn-block'%>
    <% end %>
    <% if can? :list, :hits %>
      <%= link_to 'List HITs', list_hits_path, class: 'btn btn-primary btn-lg btn-block'%>
    <% end %>
  </div>
</div>

<div class="row mb-5">
  <div class="col-lg-6 text-center">
    <h4 class="and-divider mb-4"><span>Other</span></h4>
    <% if can? :view, :sentiment_analysis %>
      <%= link_to 'Sentiment analysis', sentiment_analysis_path, class: 'btn btn-primary btn-lg btn-block'%>
    <% end %>
    <% if can? :view, :user_activity %>
      <%= link_to 'User activity', user_activity_path, class: 'btn btn-primary btn-lg btn-block'%>
    <% end %>
    <% if can? :read, LocalBatchJob %>
      <%= link_to 'Local Batch processing', manage_local_batch_jobs_path, class: 'btn btn-primary btn-lg btn-block'%>
    <% end %>
  </div>
</div>

<hr class='md-5'/>

<div class="row justify-content-center mb-6">
  <div class="col-12 col-md-10 col-lg-8 text-center">
    <h4 class="and-divider mb-4"><span>Status of services</span></h4>
    <table class="table mb-6">
      <thead>
        <th>Service</th>
        <th>Host</th>
        <th>Status</th>
      </thead>
      <tbody>
        <tr> 
          <td>Flask API</td>
          <td><%= ENV['FLASK_API_HOSTNAME'] %></td>
          <td><span class="badge badge-sentiment"><%= image_tag(@api_ready ? 'running.svg' : 'not-running.svg') %>&nbsp;<%= @api_ready ? 'Connected' : 'Not connected'%>&nbsp;</span></td>
        </tr>
      </tbody>
    </table>
    <h4 class="and-divider mb-4"><span>Status of docker containers</span></h4>
    <table class="table">
      <thead>
        <th>Container</th>
        <th>Status</th>
      </thead>
      <tbody>
        <% @status_all.each do |s| %>
          <tr>
            <td><%= s['name'] %></td>
            <td><span class="badge badge-sentiment"><%= label_based_on_status(s['status']) %></span></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
