<% @title ||= 'Manage'; title @title %>
<div class="content-no-banner">
  <div class="row">
    <div class="col-xs-12">
      <%= link_to dashboard_path, class: 'btn btn-default' do %>
        <i class="glyphicon glyphicon-chevron-left"></i>
        Go back
      <% end %>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12">
      <h3>Logstash process status</h3>
      <h3>
        <span class="label <%= @stream_status == 'active' ? 'label-success' : 'label-danger' %>"><%= @stream_status %> </span>
      </h3>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12" style="margin-top:25px;">
      <% if @stream_status == 'active' %>
      <%= link_to stream_status_path(api: {change_stream_status: 'stop'}), change_stream_status: 'stop', class: 'btn btn-sm btn-danger', style: 'margin-right:15px;' do %>
        <i class="fa fa-stop" style="margin-right:10px;"></i>
        Stop stream
      <% end %>
      <%= link_to stream_status_path(api: {change_stream_status: 'restart'}), class: 'btn btn-sm btn-primary' do %>
        <i class="fa fa-refresh" style="margin-right:10px;"></i>
        Restart stream
      <% end %>
      <% else %>
        <%= link_to stream_status_path(api: {change_stream_status: 'start'}), class: 'btn btn-md btn-success' do %>
        <i class="fa fa-play" style="margin-right:10px;"></i>
        Start stream
      <% end %>
      <% end %>
    </div>
    <div class="col-xs-12" style="margin-top:15px;">
    </div>
  </div>
  <div class="row">
  </div>

  <div class="row">
    <div class="col-xs-12">
      <h3>Current projects</h3>
      <table class="table">
        <thead>
          <tr>
            <th>Project</th>
            <th>Elasticsearch index</th>
            <th>Keywords</th>
            <th>Lanugages</th>
            <th>Public?</th>
            <th>Active stream?</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          <%= render partial: "project", collection: @projects %>
        </tbody>
      </table>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12">
      <h3>Streaming configuration</h3>
      <h3>
        <span class="label <%= @is_up_to_date ? 'label-success' : 'label-danger' %>">
          <%= @is_up_to_date ? 'Up-to-date' : 'Not up-to-date'  %>
        </span>
      </h3>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12" style="margin-top:20px;">
      <% if not @is_up_to_date %>
        <%= link_to 'Update configuration', set_config_path, class: 'btn btn-default', style: 'margin-right:15px;' %>
      <% end %>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4" style="margin-top:20px;">

      <div class="list-group">
        <%= link_to current_streams_path, class: 'list-group-item' do %>
          See current configuration
          <i class="glyphicon glyphicon-chevron-right"></i>
        <% end %>
        <%= link_to monitor_streams_path, class: 'list-group-item' do %>
          Monitor stream activity
          <i class="glyphicon glyphicon-chevron-right"></i>
        <% end %>
      </div>
    </div>
  </div>
</div>
