<% @title ||= 'Manage'; title @title %>
<div class="row mb-5">
  <div class="col-12">
    <%= link_to dashboard_path, class: 'btn btn-secondary btn-lg' do %>
      Go back
    <% end %>
  </div>
</div>

<div class="row justify-content-center mb-5">
  <div class="col-12 col-md-10">
    <h2 class='mb-4'>Streaming configuration</h2>
    <span class="mb=4"> Streaming status: </span>
    <span class="badge badge-sentiment"><%= label_based_on_status(@stream_status) %></span><br/>
  </div>
</div>

<% if not @stream_status == 'error' %>
  <div class="row justify-content-center mb-5">
    <div class="col-12 col-md-10 mb-5">
      <% if @stream_status == 'running' %>
        <%= link_to stream_status_path(api: {change_stream_status: 'stop'}), change_stream_status: 'stop', class: 'btn btn-lg btn-negative mr-2' do %>
          <i class="fa fa-stop" style="margin-right:10px;color:#fff;"></i>
          Stop stream
        <% end %>
        <%= link_to stream_status_path(api: {change_stream_status: 'restart'}), class: 'btn btn-lg btn-primary' do %>
          <i class="fa fa-refresh" style="margin-right:10px;color:#fff;"></i>
          Restart stream
        <% end %>
      <% else %>
        <%= link_to stream_status_path(api: {change_stream_status: 'start'}), class: 'btn btn-lg btn-success' do %>
          <i class="fa fa-play" style="margin-right:10px;color:#fff;"></i>
          Start stream
        <% end %>
      <% end %>
    </div>

    <% if not @is_up_to_date %>
      <div class="col-12 col-md-10 mb-5">
        <div class="alert alert-danger">The streaming configuration is not up-to-date.</div>
        <%= link_to 'Update configuration', set_config_path, class: 'btn btn-primary btn-lg mr-2' %>
      </div>
    <% end %>
  </div>
<% end %>

<div class="row justify-content-center mb-5">
  <div class="col-12 col-md-10">
    <h4>Current projects</h4>
    <table class="table">
      <thead>
        <tr class='no-wrap'>
          <th>Project</th>
          <th>Elasticsearch index</th>
          <th>Keywords</th>
          <th>Lanugages</th>
          <th>Storage mode</th>
          <th>Active stream?</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <%= render partial: "current_project", collection: @projects %>
      </tbody>
    </table>
  </div>
</div>
