<h1>Auto MTurking Dashboard</h1><br/>

<%= form_tag mturk_auto_update_path do %>
  <%= fields_for :mturk_auto do |ff| %>
    <h4>Cron event rule</h4>
    <div class="form-group mb-3">
      <div class="form-text mb-1">
        <% aws_cron_docs_url = 'https://docs.aws.amazon.com/eventbridge/latest/userguide/eb-create-rule-schedule.html' %>
        Current <%= link_to 'AWS cron', aws_cron_docs_url %> schedule expression: <i>cron(<%= cron(@new_batch_each) %>)</i>.
      </div>
      <div class="input-group">
        <%= submit_tag 'Update', class: "btn btn-secondary mr-1", data: {confirm: "Are you sure? This will update the existing rule."} %>
        <%= ff.text_field :new_batch_each, value: @new_batch_each, class: "form-control" %>
        <% aws_cron_rule_url = 'https://eu-central-1.console.aws.amazon.com/events/home?region=eu-central-1#/eventbus/default/rules/crowdbreaks-auto-mturking-new-batch-cron' %>
        <%= link_to 'Go to AWS console', aws_cron_rule_url, target: '_blank', class: 'btn btn-primary ml-1' %>
      </div>
      <small class="form-text text-muted">
        Please enter either a number of months (new batch on the first day of each X months).
      </small>
    </div>
  <% end %>
<% end %>