<tr>
  <td><%= task.id %></td>
  <td><%= task.hit_id %></td>
  <td><%= task.mturk_tweet.try(:tweet_id) %></td>
  <td><%= task.mturk_worker.try(:worker_id) %></td>
  <td><%= time_ago(task.time_submitted) if task.time_submitted.present? %></td>
  <td><%= time_ago(task.time_assigned) if task.time_assigned.present? %></td>
  <td><%= time_ago(task.time_completed) if task.time_completed.present? %></td>
  <td><%= task.lifecycle_status %></td>
  <td>
    <% if task.hit_id.present? and can? :read, :mturk_hit and mturk_cached_hit_exists?(task)%>
      <div class="no-wrap">
        <%= link_to mturk_cached_hit_path(get_mturk_cached_hit_id(task), sandbox: task.mturk_batch_job.sandbox, come_from: task.mturk_batch_job.id) do %>
          HIT <%= fa_icon('angle-double-right') %>
      <% end %>
      </div>
    <% end %>
    <% if results_exist_for_task?(task) %>
      <div class="no-wrap">
        <%= link_to admin_result_path(
          task.results.first.id,
          project_id: task.results.first.project_id,
          user_id: task.results.first.user_id,
          tweet_id: task.results.first.tweet_id,
          mturk_worker_id: task.mturk_worker&.id,
          mturk_batch_job_id: task.mturk_batch_job.id,
          res_type: task.results.first.res_type,
          group_by_qs: true) do %>
          Result <%= fa_icon('angle-double-right') %>
        <% end %>
      </div>
  <% end %>
  </td>
  <td>
    <div>
      <% if can? :destroy, task %>
        <% if not task.unsubmitted? %>
          <%= link_to fa_icon("trash"), mturk_batch_job_task_path(task.mturk_batch_job.id, task.id),
            method: :delete,
            data: {confirm: "Dispose HIT?"} %>
        <% end %>
      <% end %>
      <%= link_to fa_icon('eye'), mturk_batch_job_task_path(task.mturk_batch_job.id, task.id) %>
    </div>
  </td>
</tr>
