<tr>
  <td><%= task.hit_id %></td>
  <td><%= task.tweet_id %></td>
  <td><%= task.assignment_id %></td>
  <td><%= task.worker_id %></td>
  <td><%= time_ago_in_words(task.time_submitted) + ' ago' if task.time_submitted.present? %></td>
  <td><%= time_ago_in_words(task.time_completed) + ' ago' if task.time_completed.present? %></td>
  <td><%= task.lifecycle_status %></td>
  <td>
    <div>
      <% if task.lifecycle_status != 'disposed' %>
        <%= link_to fa_icon("trash"), mturk_batch_job_task_path(task.mturk_batch_job.id, task.id),
          method: :delete,
          data: {confirm: "Dispose HIT?"} %>
      <% end %>
      <%= link_to fa_icon('eye'), mturk_batch_job_task_path(task.mturk_batch_job.id, task.id) %>
    </div>
  </td>
</tr>
