<% @title ||= Task.model_name.human; title @title %>
<%= go_back_btn mturk_batch_jobs_path %>

<div class="row justify-content-center mb-4">
  <div class="col-12">
    <h2 class='mb-4'>
      Tasks for batch '<%= @mturk_batch_job.name %>'
    </h2>
  </div>
  <div class="col-md-6 mb-4">
    <div class="card">
      <div class="card-body">
        <table class="table vertical-align borderless-table">
          <%= table_row('Total', @mturk_batch_job.tasks.count) %>
          <%= table_row('Unsubmitted', @mturk_batch_job.tasks.unsubmitted.count) %>
          <%= table_row('Submitted', @mturk_batch_job.tasks.submitted.count) %>
          <%= table_row('Assigned', @mturk_batch_job.tasks.assigned.count) %>
          <%= table_row('Completed', @mturk_batch_job.tasks.completed.count) %>
        </table>
      </div>
    </div>
  </div>
  <div class="col-md-6">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">Filters</h4>
        <%= toggle_switch(@show_unsubmitted, 'Unsubmitted', 'tasks-unsubmitted') %>
        <%= toggle_switch(@show_submitted, 'Submitted', 'tasks-submitted') %>
        <%= toggle_switch(@show_assigned, 'Assigned', 'tasks-assigned') %>
        <%= toggle_switch(@show_completed, 'Completed', 'tasks-completed') %>
      </div>
    </div>
  </div>
</div>

<div class="row justify-content-center mb-4">
  <div class="col-12">
    <%= form_tag mturk_batch_job_tasks_path(@mturk_batch_job), enforce_utf8: false, method: :get, class: 'mb-4' do %>
      <%= hidden_field_tag :show_unsubmitted , @show_unsubmitted %>
      <%= hidden_field_tag :show_submitted , @show_submitted %>
      <%= hidden_field_tag :show_assigned , @show_assigned %>
      <%= hidden_field_tag :show_completed , @show_completed %>
      <%= text_field_tag :search_task, params[:search_task], class: 'form-control', style: 'width:20%;display:inline;' %>
      <%= submit_tag 'Search task Id', class: 'btn btn-primary' %>
    <% end %>
  </div>
</div>

<div class="row justify-content-center mb-4">
  <div class="col-12">
    <%= paginate @tasks %>
  </div>
</div>

<div class="row justify-content-center mb-4">
  <div class="col-12">
    <table class="table">
      <thead>
        <tr>
          <th>Id</th>
          <th>HIT Id</th>
          <th>Tweet Id</th>
          <th>Worker Id</th>
          <th>Time submitted</th>
          <th>Time assigned</th>
          <th>Time completed</th>
          <th>Lifecycle status</th>
          <th>Links</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <%= render @tasks %>
      </tbody>
    </table>
  </div>
</div>

<% unless @mturk_batch_job.is_submitted? %>
  <div class="row justify-content-center mb-4">
    <div class="col-12">
      <%= link_to 'Submit HITs', submit_mturk_batch_job_path(@mturk_batch_job), class: 'btn btn-warning btn-lg' %>
    </div>
  </div>
<% end %>
