<!DOCTYPE html>
<html>
  <head>
    <meta content="width=device-width,initial-scale=1" name=viewport> 
    <title>Crowdbreaks</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="container">
      <%= render 'layouts/shared/navbar' %>
      <%= yield %>
      <%= render 'layouts/shared/footer' %>
    </div>
  </body>
</html>
