<!DOCTYPE html>
<html>
  <head>
    <meta content="width=device-width,initial-scale=1" name=viewport> 
    <title>Crowdbreaks</title>
    <%= render 'application/favicon' %>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="container-fluid">
      <%= render 'layouts/shared/navbar' %>
      <% if content_for?(:banner) %>
        <%= render 'layouts/shared/banner' %>
      <% end %>
      <div class="row">
        <%= flash_messages %>
      </div>
      <%= yield %>
      <%= render 'layouts/shared/footer' %>
    </div>
  </body>
</html>
