<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta content="width=device-width,initial-scale=1" name=viewport> 
    <meta name="turbolinks-visit-control" content="reload">
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <%= javascript_pack_tag 'application' %>
    <title>Crowdbreaks Mturk Interface</title>
  </head>
  <body data-turbolinks="false">
    <div class="content">
      <div class="container">
        <%= yield %>
      </div>
    </div>
  </body>
</html>
