<%= simple_form_for(@mturk_batch_job, url: manage_mturk_batch_jobs_path) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :name %>
    <%= f.input :sandbox, input_html: {checked: true}, label_html: {class: 'checkbox-inline'} %>
  </div>

  <div class="form-actions" style="margin-top:15px;">
    <%= f.button :submit %>
  </div>
<% end %>
