<tr>
  <td><%= mturk_batch_job.name %></td>
  <td><%= mturk_batch_job.project.title %></td>
  <td><%= mturk_batch_job.sandbox ? 'Sandbox' : 'Production' %></td>
  <td><%= mturk_batch_job.created_at %></td>
  <td><span class='badge badge-sentiment'><%= status(mturk_batch_job.status.to_s) %></span></td>
  <td><%= completed_by_total(mturk_batch_job) %></td>
  <td>
    <%= link_to mturk_batch_job_tasks_path(mturk_batch_job.id) do %>
      View items
      <i class="glyphicon glyphicon-chevron-right"></i>
    <% end %>
  </td>

  <td>
    <span> 
      <%= link_to fa_icon('trash'),
        mturk_batch_job_path(mturk_batch_job.id),
        method: :delete,
        data: {confirm: "Delete batch and all its tasks?"} 
      %>
      <%= link_to fa_icon('pencil'), edit_mturk_batch_job_path(mturk_batch_job.id) %>
    </span>
  </td>
</tr>
