<tr>
  <td><%= mturk_batch_job.name %></td>
  <td><%= mturk_batch_job.project.title %></td>
  <td><%= mturk_batch_job.sandbox ? 'Sandbox' : 'Production' %></td>
  <td><%= mturk_batch_job.created_at %></td>
  <td><span class='badge badge-sentiment'><%= status(mturk_batch_job.status) %></span></td>
  <td><%= mturk_batch_job.tasks.count %></td>
  <td>
    <%= mturk_batch_job.num_tasks_where(:submitted) %> | 
    <%= mturk_batch_job.num_tasks_where(:reviewable) %> | 
    <%= mturk_batch_job.num_tasks_where(:accepted) %>
  </td>

  <td>
    <div> 
      <%= link_to mturk_batch_job_tasks_path(mturk_batch_job.id) do %>
        View items
        <i class="glyphicon glyphicon-chevron-right"></i>
      <% end %>
    </div>
    <div>
      <%= link_to fa_icon('trash'),
        mturk_batch_job_path(mturk_batch_job.id),
        method: :delete,
        data: {confirm: "Delete batch and all its tasks?"} 
      %>
    <%= link_to fa_icon('pencil'), edit_mturk_batch_job_path(mturk_batch_job.id) %>
    </div>
  </td>
</tr>
