<tr>
  <td><%= mturk_batch_job.name %></td>
  <td><%= mturk_batch_job.project.title %></td>
  <td><%= mturk_batch_job.sandbox ? 'Sandbox' : 'Production' %></td>
  <td><%= time_ago_in_words(mturk_batch_job.created_at) %> ago</td>
  <td><span class='badge badge-sentiment'><%= status(mturk_batch_job.status) %></span></td>
  <td><%= mturk_batch_job.percentage_completed %> %</td>
  <td>
    <%= mturk_batch_job.num_tasks_where(:submitted) %> | 
    <%= mturk_batch_job.num_tasks_where(:reviewable) %> | 
    <%= mturk_batch_job.num_tasks_where(:accepted) %>
  </td>
  <td>
    <div> 
      <%= link_to mturk_batch_job_tasks_path(mturk_batch_job.id) do %>
        HITs <i class="fa fa-angle-double-right" aria-hidden="true"></i>
      <% end %>
    </div>
    <div> 
      <%= link_to mturk_batch_job_mturk_tweets_path(mturk_batch_job.id) do %>
        Queue <i class="fa fa-angle-double-right" aria-hidden="true"></i>
      <% end %>
    </div>
    <div>
      <% if mturk_batch_job.hittype_id.present? %>
        <%= link_to mturk_url(mturk_batch_job.hittype_id, mturk_batch_job.sandbox), target: 'blank' do %>
          Mturk <i class="fa fa-angle-double-right" aria-hidden="true"></i>
        <% end %>
      <% end %>
    </div>
  </td>
  <td>
    <div>
      <%= link_to fa_icon('trash'),
        mturk_batch_job_path(mturk_batch_job.id),
        method: :delete,
        data: {confirm: "Delete batch and all its tasks?"} 
      %>
    <%= link_to fa_icon('pencil'), edit_mturk_batch_job_path(mturk_batch_job.id) %>
    <%= link_to fa_icon('eye'), mturk_batch_job_path(mturk_batch_job.id) %>
    </div>
  </td>
</tr>
