<tr>
  <td><%= mturk_batch_job.name %></td>
  <td><%= mturk_batch_job.project.title %></td>
  <td><%= mturk_batch_job.sandbox ? 'Sandbox' : 'Production' %></td>
  <td><%= time_ago(mturk_batch_job.created_at) %></td>
  <td><span class='badge badge-sentiment'><%= status(mturk_batch_job.status) %></span></td>
  <td><%= mturk_batch_job.percentage_completed %> %</td>
  <td><%= mturk_batch_job.num_tweets %></td>
  <td>
    <% if can? :read, mturk_batch_job => Task %>
      <% if mturk_batch_job.tasks.count > 0 %>
        <div class="no-wrap"> 
          <%= link_to mturk_batch_job_tasks_path(mturk_batch_job.id) do %>
            Tasks&nbsp;<i class="fa fa-angle-double-right" aria-hidden="true"></i>
          <% end %>
        </div>
      <% end %>
    <% end %>
    <% if can? :read, mturk_batch_job => MturkTweet %>
      <% if mturk_batch_job.mturk_tweets.count > 0 %>
        <div class="no-wrap"> 
          <%= link_to mturk_batch_job_mturk_tweets_path(mturk_batch_job.id) do %>
            Tweets&nbsp;<i class="fa fa-angle-double-right" aria-hidden="true"></i>
          <% end %>
        </div>
      <% end %>
    <% end %>
    <% if can? :read, :mturk_reviewable_hit and mturk_batch_job.is_submitted? %>
      <div class="no-wrap"> 
        <%= link_to mturk_reviewable_hits_path(hit_type_id: mturk_batch_job.hittype_id, come_from: 'mturk_batch_jobs') do %>
          Review&nbsp;<i class="fa fa-angle-double-right" aria-hidden="true"></i>
        <% end %>
      </div>
    <% end %>
  </td>
  <td>
    <div class="no-wrap">
      <% if mturk_batch_job.hittype_id.present? %>
        <%= link_to mturk_url(mturk_batch_job.hittype_id, mturk_batch_job.sandbox), target: 'blank' do %>
          Mturk <i class="fa fa-angle-double-right" aria-hidden="true"></i>
        <% end %>
      <% end %>
    </div>
  </td>
  <td>
    <div class="icon-spacing">
      <% unless mturk_batch_job.marked_for_deletion? %>
        <% if can? :destroy, mturk_batch_job && mturk_batch_job == false %>
          <%= link_to fa_icon('trash'),
            mturk_batch_job_path(mturk_batch_job.id, destroy_results: false),
            method: :delete,
            title: "Delete batch, without results",
            data: {confirm: "Delete batch, tasks, but without associated results?"} %>
          <% if mturk_batch_job.results.count > 0 %>
            <%= link_to fa_icon('times-circle'),
              mturk_batch_job_path(mturk_batch_job.id, destroy_results: true),
              method: :delete,
              style: "color:red;",
              title: "Delete batch, with results",
              data: {confirm: "Delete batch, tasks, and all associated results?"} %>
          <% end %>
        <% end %>
        <% if ['unsubmitted', 'empty'].include?(mturk_batch_job.status) and can? :update, mturk_batch_job %>
          <%= link_to fa_icon('pencil'), edit_mturk_batch_job_path(mturk_batch_job.id), title: 'Edit' %>
        <% end %>
        <% if can? :create, MturkBatchJob  %>
          <%= link_to fa_icon('clone'), clone_mturk_batch_jobs_path(clone_id: mturk_batch_job.id), title: 'Clone and create new batch job' %>
        <% end %>
        <% if can? :read, mturk_batch_job %>
          <% if mturk_batch_job.results.count > 0 %>
            <%= tag.span id: "mturk-batch-job-results-#{mturk_batch_job.id}-spinner", class: 'mr-4', style: 'display:none;' do %>
              <%= tag.div class: "spinner-small", style: 'display:inline-block;position:absolute;'  %>
            <% end %>
            <%= tag.span id: "mturk-batch-job-results-#{mturk_batch_job.id}-icon" do %>
              <% if mturk_batch_job.assoc_s3_key_exists?('mturk-batch-job-results', mturk_batch_job.results) %>
                <%= link_to fa_icon('download'), mturk_batch_job_path(mturk_batch_job, format: 'csv'), title: 'Download CSV' %>
              <% else %>
                <%= link_to fa_icon('download'), mturk_batch_job_path(mturk_batch_job), title: 'Download CSV', remote: true %>
              <% end %>
            <% end %>
          <% end %>
          <%= link_to fa_icon('eye'), mturk_batch_job_path(mturk_batch_job), title: 'Expand' %>
        <% end %>
      <% end %>
    </div>
  </td>
</tr>
