<%= simple_form_for(@mturk_batch_job, url: manage_mturk_batch_jobs_path, html: {id: 'mturk-batch-job-new'}) do |f| %>
  <%= f.error_notification %>

  <%= f.input :name, hint: 'Has to be unique' %>
  <%= f.input :title, hint: 'Title of each HIT on Mturk, short and descriptive', input_html: {value: "Label tweet"} %>
  <%= f.input :description, hint: 'A bit more general description about the HIT', input_html: {value: "Answer a few questions about a tweet"} %>
  <%= f.input :keywords, hint: 'Comma-separated list of keywords (used by Mturk for searching)', input_html: {value: "twitter, science, sentiment, opinion"} %>
  <%= f.association :project, hint: 'Choose the question sequence' %>
  <%= f.input :job_file,
    as: :file,
    label: "Tweet IDs",
    hint: 'Please use a csv in which each line corresponds to a tweet ID',
    :input_html => { :class => 'file-input-form-control' } %>
  <%= f.input :number_of_assignments,
    as: :integer, 
    input_html: { value: 1 },
    hint: "Label every tweet n times" %>
  <%= f.input 'Reward', wrapper: :vertical_input_group, hint: "Reward per finished question sequence" do %>
    <span class="input-group-addon">$</span>
    <%= f.input_field :reward,
      class: 'form-control',
      value: 0.03
    %>
  <% end %>
  <%= f.input 'Lifetime', wrapper: :vertical_input_group, hint: "Time after which a HIT is no longer available for users." do %>
    <%= f.input_field :lifetime_in_seconds,
      class: 'form-control',
      value: 30
    %>
    <span class="input-group-addon">days</span>
  <% end %>
  <%= f.input 'Auto-approval', wrapper: :vertical_input_group, hint: "Time after which a completed HIT gets auto-approved" do %>
    <%= f.input_field :auto_approval_delay_in_seconds,
      class: 'form-control',
      value: 7 
    %>
    <span class="input-group-addon">days</span>
  <% end %>
  <%= f.input 'Assignment duration', wrapper: :vertical_input_group, hint: "Time which is given to a worker to complete the task" do %>
    <%= f.input_field :assignment_duration_in_seconds,
      class: 'form-control',
      value: 20 
    %>
    <span class="input-group-addon">min</span>
  <% end %>
  <%= f.input :sandbox, input_html: {checked: true}, label_html: {class: 'checkbox-inline'} %>

  <div class="form-actions" style="margin-top:25px;">
    <%= f.button :submit %>
  </div>
<% end %>
